.chargesContainer{
    padding: 1rem;
}


.chargesContainer>h3{
    margin-top: 2rem;
    font-size: 1.5rem;
    color: rgb(0, 49, 122);
    /* padding: 1rem; */
}
.chargesContainer>div{
    padding: 1rem;
    line-height: 1.7;
}
.chargesContainer>div>p>span{
    font-weight: 600;
}