.homeContainer{
    display: flex;
    margin-top: 4rem;
    width: 100%;
}

.left{
    padding-right: 1rem;
}
.left>h2{
    text-transform: uppercase;
}
.left>p{
        line-height: 1.5;
        font-size: 19px;
}

.left + div{
    min-width: 14vw;
    padding: 1.5rem 0;
}

.left + div img{
    width: 100%;
}